<div class="login-buttons"> {{ (user | async)?.uid }}
  <button mat-raised-button color="accent" class="login" (click)="login()">Login With Google</button>
  <button mat-raised-button color="primary" class="logout" (click)="logout()">Logout</button>
</div>
<hr>
<button class="currency" mat-raised-button color="accent" (click)="show = !show" color="accent">{{ show ? 'HIDE' : 'SHOW' }}</button>
<hr>
<div class="container" *ngIf="show" @enterLeave>
    <button mat-mini-fab color="primary" (click)="USD = !USD">{{ USD ? 'USD' : 'EUR' }}</button>
        <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)" >
          <span class="left">{{ crypto }}</span>
          <div *ngIf="USD">
            <span class="right">{{ cryptos[crypto].EUR | currency:'EUR':true }}</span>
          </div>
          <div *ngIf="!USD">
            <span class="right">{{ cryptos[crypto].USD | currency:'USD':true }}</span>
          </div>
        </div>
</div>